@using InsuranceAdministration.Core.Entities.PoliceManEntities
@model PoliceMan
@{
    ViewData["Title"] = "إضافة فرد شرطة";

    ViewData["SubTitle"] = "إدارة وتوزيع افراد الشرطة";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/Shared/Add.css" asp-append-version="true" />
</head>

@await Html.PartialAsync("_PageHeader")

<div class="form-container form-scroll">

    <form asp-action="UpdatePoliceMan" asp-controller="PoliceMan" method="post" class="row g-3 p-0">

        @* البيانات الأساسية *@
        <div class="col-12">
            <h5 class="text-primary mt-3">البيانات الأساسية</h5>
            <hr />
        </div>

        @* الاسم *@
        <div class="col-md-6">
            <label class="form-label">الاسم</label>
            <input asp-for="Name" class="form-control" maxlength="150" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

      

        @* رقم الهاتف *@
        <div class="col-md-6">
            <label class="form-label">رقم الهاتف</label>
            <input asp-for="PhoneNumber" type="tel" class="form-control" maxlength="20" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        @* بيانات العمل *@
        <div class="col-12">
            <h5 class="text-primary mt-4">بيانات العمل</h5>
            <hr />
        </div>

        @* الدورية *@
        <div class="col-md-6">
            <label class="form-label">الدورية</label>
            <select asp-for="GroupName" class="form-control">
                <option value="">-- اختر  --</option>
                <option value="الدورية الاول">الدورية الاول</option>
                <option value="الدورية الثانية">الدورية الثانية</option>
                <option value="الدورية الثالثة">الدورية الثالثة</option>
            </select>
            <span asp-validation-for="GroupName" class="text-danger"></span>
        </div>

        @* فرقة القيادة *@
        <div class="col-md-6">
            <label class="form-label">فرقة القيادة</label>
            <select asp-for="HasChantDriverCertificate" class="form-control">
                <option value="">-- اختر  --</option>
                <option value="حاصل على فرقة">حاصل على فرقة</option>
                <option value="غير حاصل على فرقة">غير حاصل على فرقة</option>
            </select>
            <span asp-validation-for="HasChantDriverCertificate" class="text-danger"></span>
        </div>

        @* بيانات العنوان *@
        <div class="col-12">
            <h5 class="text-primary mt-4">بيانات العنوان</h5>
            <hr />
        </div>

        @* المحافظة *@
        <div class="col-md-4">
            <label class="form-label">المحافظة</label>
            <input asp-for="City" class="form-control" maxlength="50" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        @* المركز *@
        <div class="col-md-4">
            <label class="form-label">المركز</label>
            <input asp-for="Region" class="form-control" maxlength="50" />
            <span asp-validation-for="Region" class="text-danger"></span>
        </div>

        @* البلد *@
        <div class="col-md-4">
            <label class="form-label">البلد</label>
            <input asp-for="Street" class="form-control" maxlength="50" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>

        @* أزرار الحفظ والرجوع *@
        <div class="col-12 mt-4">
            <hr />
            <a asp-action="Index" asp-controller="PoliceMan" class="btn btn-secondary">رجوع</a>
            <button type="submit" class="btn btn-primary">حفظ التعديل</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}